/* Fonts */
@font-face {
    font-family: gt-walsheim-pro;
    src: url(../fonts/GT_Walsheim_Pro/GT-Walsheim-Pro-Bold.otf) format("opentype");
}

@font-face {
    font-family: gt-walsheim-pro-rg;
    src: url(../fonts/GT_Walsheim_Pro/GT-Walsheim-Pro-Regular.otf) format("opentype");
}


/* Base */
body {
    position: relative;
    color: #212529;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
}

nav,
header,
main {
    z-index: 3;
    position: relative;
}

main {
    min-height: calc(100vh - 250px);
}

h1, h2, h3 {
    font-family: gt-walsheim-pro, sans-serif;
}

:focus-visible {
    outline: none;
}

/* body > div:not(.ty-bg-guest) main {
    padding-bottom: 234px;
} */

a {
    transition: all 250ms ease-out;
}

a.ty-link:hover {
    color: #9EA700;
}

.ty-primary {
    color: #9EA700;
}
.ty-primary:hover {
    color: #777D00;
}

.ty-alert {
    color: #CA433C;
}
.ty-alert:hover {
    color: #98322D;
}

.btn {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 500;
    font-style: normal;
    transition: all 250ms ease-out;
    border-radius: 4px;
    padding: 7px 10px;
    line-height: 1.28;
}

.btn-check:focus+.btn, .btn:focus {
    box-shadow: unset;
}

.btn-radius-sm {
    border-radius: 4px;
}

.btn-green {
    color: #ffffff;
    background-color: #9EA700;
    border: solid 2px #9EA700;
}

.btn-green:hover {
    color: #9EA700;
    background-color: transparent;
}

.ty-bg-hh .ty-dashboard .btn-green:hover {
    color: #ffffff;
    border-color: #ffffff;
}

.btn-green-border {
    color: #9EA700;
    background-color: transparent;
    border: solid 2px #9EA700;
}

.btn-green-border:hover {
    background-color: #9EA700;
    color: #ffffff;
}

.btn-black {
    color: #ffffff;
    background-color: #343A40;
    border: solid 2px #343A40;
}

.btn-black:hover {
    background-color: transparent;
    color: #343A40;
}

.btn-red {
    color: #ffffff;
    background-color: #CA433C;
    border: solid 2px #CA433C;
}

.btn-red:hover {
    background-color: transparent;
    color: #CA433C;
}

.ty-btn-save {
    margin-left: auto;
    width: auto;
}

.ty-list-btn {
    margin-top: 20px;
}

.ty-main-title {
    color: #ffffff;
    font-size: 56px;
    line-height: 1;
    padding: 114px 0 52px 0;
    font-family: gt-walsheim-pro, sans-serif;
}

.ty-footer {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 700;
    font-style: normal;
    position: absolute;
    bottom: 0;
    width: 100vw;
    padding: 48px;
    background: #FFFFFF;
    z-index: 1;
    text-align: right;
    font-weight: bold;
    color: #223343;
}

.ty-footer-public {
    margin: 110px 0 20px;
}

.ty-footer-public-content {
    background-color: #F8F9FA;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0001);
    border-radius: 4px;
    display: flex;
    padding: 19px 24px;
    font-size: 13px;
}

.ty-footer-public-content p {
    margin-right: 24px;
}

.ty-footer-public-content ul {
    display: flex;
}

.ty-footer-public-content ul li:not(:last-child) {
    margin-right: 32px;
}

.ty-footer-public-content ul li a:hover {
    color: #9EA700;
}

.alert {
    z-index: 3;
}

.ty-bg-hh {
    position: relative;
    background: #E9EBED;
}

.ty-bg-hh:before {
    content: "";
    background-image: url(../images/bg-main.svg);
    position: absolute;
    background-size: cover;
    height: 100%;
    width: 40vw;
    background-position-x: right;
    background-repeat: no-repeat;
    z-index: 2;
}

.ty-bg-hh main > .container {
    padding-bottom: 160px;
}

/* .ty-bg-hh:after {
    content: url(../images/logo_hh.svg);
    position: absolute;
    bottom: 0;
    width: 39vw;
    text-align: center;
    margin-bottom: 40px;
    z-index: 2;
} */

.ty-footer-logo {
    position: absolute;
    bottom: 0;
    text-align: center;
    margin-bottom: 40px;
    z-index: 2;
}

.ty-bg-guest {
    position: relative;
    background: linear-gradient(#E9EBED 90vh, #ffffff 10vh);

}

.ty-bg-guest:before {
    content: "";
    background-image: url(../images/bg-guest.svg);
    position: absolute;
    background-size: cover;
    height: 100vh;
    width: 50vw;
    background-position-x: right;
    background-repeat: no-repeat;
    z-index: 2;
}

.ty-bg-guest:after {
    content: "";
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: cover;
    position: absolute;
    top: 0;
    width: 50vw;
    height: 100vh;
    z-index: 2;
}

.ty-bg-guest:after {
    background-image: url(../images/backgrounds/THNKFEST-005.svg);
}

.ty-bg-guest.dashboard:after {
    background-image: url(../images/backgrounds/THNKFEST-001.svg);
}

.ty-bg-guest.toolkit:after {
    background-image: url(../images/backgrounds/THNKFEST-002.svg);
}

.ty-bg-guest.faq:after {
    background-image: url(../images/backgrounds/THNKFEST-003.svg);
}

.ty-bg-guest.about-think-fest:after {
    background-image: url(../images/backgrounds/THNKFEST-004.svg);
}

.ty-bg-guest.privacy-statement:after {
    background-image: url(../images/backgrounds/THNKFEST-006.svg);
}

.ty-bg-guest.cookies:after {
    background-image: url(../images/backgrounds/THNKFEST-006.svg);
}

.ty-nav {
    z-index: 4;
    padding-top: 24px;
}

.ty-nav-admin {
    z-index: 4;
}

body.modal-open nav {
    z-index: 3;
}

.navbar {
    padding-top: 0;
    margin-top: 36px;
}

.ty-nav-container {
    width: 100%;
    padding: 11px 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ty-nav-top {
    padding: 0 23px;
    display: flex;
    justify-content: space-between;
    margin-left: 71px;
}

.ty-nav-top li.ty-nav-inactive a {
    background-color: #7A858E;
    color: #ffffff;
}

.ty-nav-top li:first-child {
    margin-left: 20px;
}

.ty-nav-top li {
    margin-left: 10px;
}

.ty-nav-top li a {
    color: #212529;
    font-size: 13px;
    line-height: 20px;
    border-radius: 4px 4px 0 0;
    background-color: #ffffff;
    width: 100px;
    display: flex;
    justify-content: center;
    transition: all 250ms ease-out;
}

.ty-nav-top li a:hover {
    border-radius: 4px 4px 0 0;
    background-color: #9EA700;
    color: #ffffff;
}

.navbar-expand-lg .navbar-nav .nav-item:first-child .ty-nav-link,
.navbar-expand-xl .navbar-nav .nav-item:first-child .ty-nav-link {
    margin-left: 35px;
}

.navbar-expand-lg .navbar-nav .ty-nav-link,
.navbar-expand-xl .navbar-nav .ty-nav-link,
.navbar-expand-lg .ty-dropdown .btn,
.navbar-expand-xl .ty-dropdown .btn {
    color: #212529;
    transition: all 250ms ease-out;
    margin-left: 24px;
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    line-height: 1.4;
}

.navbar-expand-lg .ty-dropdown .ty-nav-link,
.navbar-expand-xl .ty-dropdown .ty-nav-link {
    color: #212529;
}

.navbar-expand-lg .ty-nav-link:hover,
.navbar-expand-xl .ty-nav-link:hover {
    color: #9EA700 !important;
}

.navbar-expand-lg .ty-nav-link.active,
.navbar-expand-xl .ty-nav-link.active {
    color: #9EA700 !important;
}

.navbar-expand-lg .ty-dropdown,
.navbar-expand-xl .ty-dropdown {
    display: flex;
    align-items: center;
}

/* .navbar-expand-lg .ty-dropdown .nav-link,
.navbar-expand-xl .ty-nav-link.active {
    margin-left: 20px;
} */

.navbar-expand-lg .ty-dropdown .btn,
.navbar-expand-xl .ty-dropdown .btn {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 16px;
    border: 1px solid #E9EBED;
    box-sizing: border-box;
    border-radius: 4px;
    margin-right: 17px;
}

.navbar-expand-lg .ty-dropdown .btn::after,
.navbar-expand-xl .ty-dropdown .btn::after {
    content: "";
    background-image: url(../images/chevron/chevron-down.svg);
    background-size: contain;
    margin-left: 10px;
    width: 11px;
    height: 11px;
}

.navbar-expand-lg .navbar-nav .ty-dropdown .btn:hover::after,
.navbar-expand-xl .navbar-nav .ty-dropdown .btn:hover::after {
    background-image: url(../images/chevron/chevron-down-green.svg);
}

.navbar-toggler:focus {
    box-shadow: unset;
}

.ty-nav-profile::after {
    content: "";
    background-image: url(../images/chevron/chevron-down-green.svg);
    background-size: contain;
    width: 11px;
    height: 11px;
}

.ty-nav-profile:hover::after, .ty-nav-profile.show::after {
    background-image: url(../images/chevron/chevron-down-white.svg);
}

.ty-nav-profile {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 500;
    font-style: normal;
    transition: all 250ms ease-out;
    padding: 9px 12px;
    border-color: #9EA700 !important;
    color: #9EA700;
    font-size: 16px;
    line-height: 1.28;
}

.ty-nav-profile:hover,
.ty-nav-profile:focus,
.dropdown-item:hover,
.dropdown-item:active {
    background: #9EA700;
    color: #ffffff;
}

.ty-nav-profile p {
    padding-right: 6px;
}

.ty-nav-profile-box {
    list-style: none;
}

.navbar-light .navbar-toggler {
    border-color: transparent;
}

.ty-language-switch {
    display: flex;
}

/* .navbar-expand-lg .navbar-nav .ty-language-switch li:first-child,
.navbar-expand-xl .navbar-nav .ty-language-switch li:first-child {
    border-right: 2px solid #E9EBED;
} */

.navbar-expand-lg .navbar-nav .ty-language-switch li:first-child a,
.navbar-expand-xl .navbar-nav .ty-language-switch li:first-child a {
    margin-left: 0;
    margin-right: 10px;
}

.navbar-expand-lg .navbar-nav .ty-language-switch li:not(:first-child) a,
.navbar-expand-xl .navbar-nav .ty-language-switch li:not(:first-child) a {
    margin-left: 10px;
}

/* Form settings */
.form-check-input {
    border-radius: 2px;
    border: 1px solid #DEE2E6;
}

.form-check-input:checked,
.form-check-input:focus {
    background-color: #9EA700;
    border-color: #9EA700;
    box-shadow: none;
}

.form-control {
    border: 1px solid #ced4da !important;
}

.form-control:focus {
    box-shadow: none;
    border-color: #9EA700;
}

/* Alerts */
.alert {
    margin-top: 20px;
}

.alert-success {
    color: #ffffff;
    background-color: #81A300;
    border-color: #81A300;
}

.alert-alert {
    color: #ffffff;
    background-color: #e6891e;
    border-color: #e6891e;
}

/* Dashboard */
.ty-dashboard .btn {
    margin-bottom: 29px;
}

.ty-dashboard-nav a {
    font-family: gt-walsheim-pro, sans-serif;
    font-size: 32px;
    line-height: 1.42;
    color: #ffffff;
    margin-bottom: 20px;
}

.ty-dashboard-nav a:hover {
    color: #9EA700;
}

.ty-dashboard-stats {
    margin-top: 114px;
    justify-content: flex-end;
}

.ty-dashboard-stats .ty-dashboard-stat {
    width: 171px;
    height: 171px;
    font-family: gt-walsheim-pro, sans-serif;
    margin: 5.5px;
}

.ty-dashboard-stats .ty-dashboard-stat:nth-child(3n+3) {
    margin-right: 0;
}

.ty-dashboard-stats .ty-dashboard-stat:nth-child(even) {
    background-image: url("../images/info_bg.svg");
}

.ty-dashboard-stats .ty-dashboard-stat:nth-child(odd) {
    background-image: url("../images/info_bg2.svg");
}

.ty-dashboard-stats.ty-stats {
    margin: 110px 0;
}

.ty-dashboard-stats.ty-stats .ty-dashboard-stat {
    width: 164px;
    height: 164px;
    color: #ffffff;
}

.ty-dashboard-stats.ty-stats .ty-dashboard-stat:nth-child(even) {
    background-image: url("../images/info_bg_green.svg");
}

.ty-dashboard-stats.ty-stats .ty-dashboard-stat:nth-child(odd) {
    background-image: url("../images/info_bg2_green.svg");
}

.ty-dashboard-stats .ty-dashboard-stat .ty-dashboard-stat-number {
    font-size: 56px;
    line-height: 1;
    margin-bottom: 5px;
}

.ty-dashboard-stats .ty-dashboard-stat .ty-dashboard-stat-cat {
    font-size: 16px;
    line-height: 1.4;
}

/* table */
.ty-table {
    border-bottom: none !important;
}

.ty-table thead {
    border-top-width: 1px;
    border-bottom-width: 1px;
}

.ty-table thead tr th {
    background-color: #E9ECEF;
    padding: 14px 15px !important;
    border-bottom: none !important;
    color: #394858;
}

.ty-table tbody tr th,
.ty-table tbody tr td {
    border-color: #DEE2E6;
    background-color: #FFFFFF;
    padding: 12px 12px 12px 15px !important;
    color: #212529;
}

.bg-primary {
    background-color: #9EA700 !important;
}
.bg-secondary {
    background-color: #223343 !important;
}
.bg-success {
    background-color: #81A300 !important;
}
.bg-danger {
    background-color: #CA433C !important;
}
.bg-warning {
    background-color: #FFBA00 !important;
}
.bg-info {
    background-color: #00B2CD !important;
}
.bg-light {
    background-color: #F4F5F7 !important;
    color: #223343;
}

.ty-danger {
    color: #CA433C;
    margin-top: 10px;
}

.tooltip-inner {
    background-color: #212529;
    border-radius: 4px;
}

.tooltip.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: #212529;
}

.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: #212529;
}

.tooltip.bs-tooltip-start .tooltip-arrow::before {
    border-left-color: #212529;
}

.tooltip.bs-tooltip-end .tooltip-arrow::before {
    order-right-color: #212529;
}

.ty-sort {
    display: flex;
    align-items: center;
}

.ty-sort svg {
    margin-left: 15px;
}

.ty-top-content {
    padding: 114px 0 52px 0;
    align-items: center;
}

.ty-top-content .ty-main-title {
    padding: 0;
    width: unset;
    min-height: unset;
}

p.text-sm.text-gray-700.leading-5 {
    color: #ffffff;
}

.modal-backdrop.show {
    display: none;
}

.modal.show {
    background: rgba(0, 0, 0, 0.5);
}

.dataTables_wrapper .dataTables_filter input {
    width: 375px;
    border: 1px solid #ced4da !important;
    padding: .375rem .75rem !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff !important;
    background-clip: padding-box;
    margin-bottom: 30px;
    margin-left: 0 !important;
    border-radius: 0 3px 3px 0 !important;
}


#myTable_filter label:before {
    content: url(../images/search.svg);
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 3px 0 0 3px;
}

#myTable_filter label {
    font-size: 0;
}

#myTable_wrapper label,
.dataTables_wrapper .dataTables_info {
    color: #ffffff !important;
}

.dataTables_wrapper .dataTables_length select {
    border-color: #ced4da !important;
    color: #ced4da;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    border-color: #ced4da !important;
    border-radius: 3px;
    background: none !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:not(.disabled):not(.current):hover {
    background: #9EA700 !important;
    border-radius: 3px !important;
}

.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_paginate {
    padding-top: 30px !important;
}

/* Login */
.ty-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ty-login .ty-main-title {
    color: #CA433C;
}

.ty-login-text {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #7A858E;
    font-size: 13px;
}

.ty-guest-logo {
    margin-top: 36px;
}

/* Public layout */
.ty-dashboard-public {
    height: calc(100vh - 130px);
}

.ty-logo-guest-hh {
    height: 100vh;
    width: 100%;
    position: absolute;
}

.ty-logo-guest-hh img {
    position: absolute;
    z-index: 2;
    bottom: 0;
    width: 255px;
    height: 54px;
    margin-bottom: 80px;
}

.ty-guest-text {
    position: absolute;
    bottom: 0;
    margin-bottom: 190px;
}

.ty-main-title-public {
    padding-bottom: 20vh;
    padding-right: 37px;
}

.ty-public-content {
    margin-top: 80px;
}

.ty-dashboard-public a:not(.btn-green) {
    color: #223343;
}

.ty-public-title {
    display: flex;
    height: calc(100vh - 151px);
    align-items: end;
}

.ty-scroll-arrow {
    align-self: center;
}

.ty-scroll-arrow img {
    width: 57px;
    cursor: pointer;
}

.ty-dashboard-public .ty-public-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/* FAQ */
.accordion h2 {
    font-family: gt-walsheim-pro, sans-serif;
    color: #CA433C;
    font-size: 25px;
    margin-bottom: 10px;
}

.accordion h2:not(:first-child) {
    margin-top: 20px;
}

.accordion-button:not(.collapsed) {
    color: #223343;
    background-color: #D8DC99;
}

.accordion-button:focus {
    box-shadow: unset;
}

.accordion-button:not(.collapsed)::after {
    background-image : url("../images/chevron/chevron-down.svg")
}

.accordion-body a,
.ty-text a {
    color: #9EA700;
    text-decoration: underline;
}

/* Text block */
.ty-text-block {
    color: #223343;
    margin: 0 0 40px;
}

.ty-text-block img {
    margin-bottom: 24px;
}

.ty-text-block h2 {
    font-family: gt-walsheim-pro-rg, sans-serif;
    font-size: 32px;
    line-height: 1.4;
    margin-bottom: 24px;
}

.ty-text-block p {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 30px;
}

.ty-2-col-text a:not(.btn),
.accordion-body a:not(.btn),
.ty-text-block a:not(.btn) {
    color: #CA433C;
    text-decoration: underline;
}

.ty-2-col-text ul,
.accordion-body ul,
.ty-text-block ul {
    list-style: disc outside none !important;
    padding-left: 2rem !important;
    margin-bottom: 1rem !important;
}

.ty-2-col-text ol,
.accordion-body ol,
.ty-text-block ol {
    list-style: decimal outside none !important;
    padding-left: 2rem !important;
    margin-bottom: 1rem !important;
}

/* 2-col */
.ty-2-col {
    margin: 100px 0 50px;
}

.ty-2-col h2 {
    font-family: gt-walsheim-pro, sans-serif;
    color: #CA433C;
    font-size: 32px;
    line-height: 1.4;
    margin-bottom: 20px;
}

.ty-2-col p {
    color: #223343;
}

.ty-2-col .ty-2-col-img {
    display: flex;
    background: linear-gradient(#ffffff 30%, #E9EBED 0.1%, #E9EBED 70%);
    justify-content: center;
}

.ty-2-col .ty-2-col-img img {
    margin-bottom: 54px;
    width: 350px;
}

.ty-2-col .ty-2-col-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 27px;
}

.ty-2-col.ty-2-col-reversed {
    margin: 50px 0 100px;
}

.ty-2-col.ty-2-col-reversed .ty-2-col-text {
    margin-left: 27px;
    margin-right: 0;
}

.ty-2-col.ty-2-col-reversed .ty-2-col-img img {
    margin-top: 98px;
    margin-bottom: 0;
    width: 350px;
}

.ty-2-col.ty-2-col-reversed  .ty-2-col-img {
    background: linear-gradient(#CA433C 70%, #ffffff 30%);
    background-size: 60% 100%;
    background-repeat: no-repeat;
}

/* Schedule */
.ty-schedule .cd-schedule__event a {
    box-shadow: none !important;
    color: #ffffff;
}

.ty-schedule .cd-schedule__event a[data-event="event-1"] {
    background: #9EA700;
}

.ty-schedule .cd-schedule__event a[data-event="event-2"] {
    background: #CA433C;
}

.ty-schedule .cd-schedule-modal[data-event="event-2"],
.ty-schedule .cd-schedule-modal[data-event="event-2"] .cd-schedule-modal__header-bg {
    background: #E9EBED;
    color: #212529;
}

.ty-schedule .cd-schedule__event a:hover {
    color: #ECEDCC;
}

.ty-schedule .cd-schedule-modal {
    color: #ffffff;
}

.ty-schedule h2 {
    color: #CA433C;
    font-size: 56px;
    margin: 79px 0 30px;
}

.ty-schedule .input-group {
    margin: 79px 0 30px;
}

.js .ty-schedule .cd-schedule__timeline {
    padding-top: 90px;
}

.ty-schedule .cd-schedule-modal__close::after,
.ty-schedule .cd-schedule-modal__close::before {
    background: #212529;
}

.ty-schedule .cd-schedule__cover-layer {
    background: rgba(0, 0, 0, 0.5);
}

.ty-standard-event,
.ty-standard-event a {
    pointer-events: none;
}

.ty-schedule .ty-event-info {
    padding: 0;
}

.ty-event-info img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.ty-event-info p {
    margin: 0 0 20px;
}

.ty-schedule-modal {
    overflow-y: scroll;
    overflow-x: hidden;
}

.ty-schedule-modal .cd-schedule-modal__body {
    height: unset;
}

.ty-schedule-modal h3 {
    font-size: 30px;
    margin: 5px 0 40px;
    word-break: break-word;
}
.ty-schedule-modal-content {
    padding: 30px !important;
}

.ty-schedule-modal-content p {
    margin: 10px 0;
    word-break: break-word;
}

.ty-schedule-modal .btn {
    margin-top: 40px;
}



.js .cd-schedule__group {
    min-width: 20%;
}

.js .cd-schedule__events {
    overflow-x: scroll;
    overflow-y: hidden;
    height: calc(100% - 62px);
}

.js .cd-schedule__events::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0px;
}
.js .cd-schedule__events::-webkit-scrollbar-track {
    background: #E9EBED;
    border-radius: 20px;
    margin-right: 40px;
}
.js .cd-schedule__events::-webkit-scrollbar-thumb {
    background: #CA433C;
    border-radius: 20px;
}

.js .cd-schedule__events:before {
    content: "";
    position: absolute;
    background-image: url(../images/chevron/chevron-down.svg);
    background-size: cover;
    width: 57px;
    height: 57px;
    background-repeat: no-repeat;
    z-index: 5;
    right: 0;
    top: 49.1%;
    transform: rotate(-90deg) translateY(-49.1%);
    -webkit-animation:linear infinite alternate;
    -webkit-animation-name: run;
    -webkit-animation-duration: 2s;
    transition: opacity 0.3s, visibility 0.3s;
}

.js .cd-schedule__events.hidden-before:before {
    opacity: 0;
}

.cd-schedule__events #program li:not(:first-child) .ty-standard-event {
    opacity: 0.7;
}

.cd-schedule__events #program li:not(:first-child) .ty-standard-event a::before,
.cd-schedule__events #program li:not(:first-child) .ty-standard-event em {
    opacity: 0;
}

@-webkit-keyframes run {
    0% { right: -10px;}
    50%{ right : 10px;}
    100%{ right: 0;}
}

.ty-schedule-text {
    word-break: break-word;
    margin: 0;
    padding: 24px;
}

.ty-schedule-text ul {
    margin: 1rem 0;
    padding-left: 2rem;
    list-style: disc outside none;
}

.ty-schedule-text ol {
    margin: 1rem 0;
    padding-left: 2rem;
    list-style: decimal outside none;
}

.ty-schedule-text a {
    color: #CA433C;
    text-decoration: underline;
}

.js .cd-schedule__top-info {
    justify-content: start !important;
}

.js .cd-schedule__top-info>span {
    padding: var(--space-sm);
}

.js .cd-schedule__top-info>span,
.cd-schedule__timeline {
    font-family: gt-walsheim-pro, sans-serif;
    font-size: 16px !important;
}

.ty-checkbox .btn-group {
    display: inline-flex;
    flex-wrap: wrap;
    display: inline-flex;
    align-items: center;
}

.ty-checkbox .btn-group {
    display: inline-flex;
    flex-wrap: wrap;
    display: inline-flex;
    align-items: center;
}

.ty-checkbox .btn-group label {
    margin: 5px 0;
    flex: unset;
}

.ty-checkbox .btn-outline-primary {
    color: #9EA700;
    border-color: #9EA700;
}

.ty-checkbox .btn-outline-primary:hover,
.btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active {
    color: #fff;
    background-color: #9EA700;
    border-color: #9EA700;
}

@media only screen and (max-height: 799px) {
    .ty-schedule-modal {
        height: 100% !important;
        width: 100% !important;
        top: 0 !important;
        left: 0 !important;
        transform: unset !important;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
    .cd-schedule__name {
        font-size: 14px !important;
    }
}

@media only screen and (min-width: 1024px) and (min-height: 800px) {
    .ty-schedule-modal {
        width: 1024px !important;
        top: calc(50% - 400px) !important;
        height: 800px !important;
        left: calc(50% - 512px) !important;
        bottom: 40px;
        transform: unset !important;
    }

    .ty-schedule-modal .cd-schedule-modal__body {
        margin-left: 321px !important;
    }

    .ty-schedule .cd-schedule-modal__header,
    .ty-schedule .cd-schedule-modal__header-bg {
        width: 321px !important;
    }
}

@media only screen and (min-width: 2402px) {
    .ty-bg-guest:after {
        height: 50vh;
    }
}

@media only screen and (max-width: 1199px) {
    .ty-nav-left {
        display: flex;
        align-content: center;
        justify-content: space-between;
        width: 100%;
    }

    .ty-nav-container {
        flex-wrap: wrap;
    }

    .navbar-expand-xl .navbar-nav .nav-item .ty-nav-link,
    .navbar-expand-xl .navbar-nav .nav-item:first-child .ty-nav-link,
    .navbar-expand-xl .navbar-nav .ty-dropdown .nav-link {
        margin-left: 0;
    }

    .navbar-expand-xl .navbar-nav {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 1023px) {
    .ty-schedule-text {
        padding: 0 30px;
    }

    .ty-schedule .cd-schedule-modal__header {
        height: unset;
    }

    .ty-schedule .cd-schedule-modal__content {
       display: block;
    }

    .ty-schedule .cd-schedule__events {
        position: relative  !important;
    }

    .js .ty-schedule .cd-schedule {
        width: 100%;
    }

    .ty-schedule {
        margin: 30px 0 120px;
    }

    .ty-event-info img {
        height: 250px;
    }

    .ty-schedule .input-group {
        margin: 0;
    }

    .js .cd-schedule__events:before {
        display: none;
    }

    .js .cd-schedule__events::-webkit-scrollbar {
        display: none;
    }
}

@media only screen and (max-width: 991px) {
    .ty-main-title {
        font-size: 46px;
        padding-top: 40px;
    }

    .ty-top-content {
        padding: 65px 0 52px 0;
    }

    .ty-dashboard-stats {
        justify-content: center;
        margin-top: 30px;
    }

    .ty-dashboard-stats .ty-dashboard-stat:nth-child(3n+3) {
        margin-right: 5.5px;
    }

    .navbar-expand-lg .navbar-nav {
        margin-top: 20px;
    }

    .navbar-expand-lg .navbar-nav .nav-item .ty-nav-link,
    .navbar-expand-lg .navbar-nav .nav-item:first-child .ty-nav-link,
    .navbar-expand-lg .navbar-nav .ty-dropdown .nav-link {
        margin-left: 0;
    }

    .ty-footer-public-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ty-footer-public-content ul {
        margin-top: 20px;
    }

    .ty-dashboard {
        height: unset;
    }

    .ty-bg-guest {
        background: linear-gradient(#CA433C 292px, #ffffff 10vh);
        min-height: unset;
    }

    .ty-bg-guest main {
        min-height: calc(100vh - 356px);
    }

    .ty-bg-guest:before,
    .ty-bg-guest:after {
        display: none;
    }

    .ty-input-group {
        margin-top: 20px;
    }

    .ty-bg-hh {
        background: linear-gradient(#CA433C 490px, #E9EBED 0.01%, #E9EBED 50vh);
    }

    .ty-bg-hh:before {
        display: none;
    }

    .ty-logo-guest-hh img {
        top: 110px;
        right: 20px;
        width: 200px;
    }

    .ty-public-content {
        margin-top: 30px;
    }

    .ty-schedule h2 {
        margin-top: 30px;
        font-size: 40px;
    }

    .ty-dashboard-stats.ty-stats {
        margin: 40px 0;
    }

    .ty-logo-guest-hh .container {
        position: relative;
    }

    .ty-main-title {
        width: 65%;
    }

    .ty-login-form input {
        border: 1px solid #ced4da;
    }

    .ty-guest-logo {
        width: 100px;
    }

    p.text-sm.text-gray-700.leading-5 {
        color: #223343;
    }

    #myTable_wrapper label,
    .dataTables_wrapper .dataTables_info {
        color: #21252A !important;
    }

    .ty-public-title {
        height: unset;
    }

    .navbar {
        margin-top: 0;
    }

    .ty-main-title-public {
        padding-bottom: 0;
        padding-right: 0;
        min-height: 200px;
    }

    .ty-checkbox {
        justify-content: start;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .ty-2-col:not(.ty-2-col-reversed) {
        flex-direction: column-reverse;
    }

    .ty-2-col .ty-2-col-text {
        margin-right: 0;
    }

    .ty-2-col.ty-2-col-reversed .ty-2-col-text {
        margin-left: 0;
    }

    .ty-2-col .ty-2-col-img {
        margin-bottom: 20px;
    }

    .ty-main-title {
        width: 62%;
    }

    .dataTables_wrapper .dataTables_filter input {
        width: calc(100% - 42px);
        margin-top: 10px;
    }

    #myTable_wrapper label {
        width: 100%;
    }
}

@media only screen and (max-width: 640px) {
    .dataTables_wrapper .dataTables_filter input {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 575px) {
    .ty-logo-guest-hh img {
        top: 90px;
        right: 20px;
        width: 120px;
    }

    .ty-main-title {
        font-size: 40px;
        width: 100%;
    }

    .ty-bg-hh:after {
        margin-left: 10px;
    }

    .ty-footer {
        padding-right: 10px;
    }

    .ty-nav-top {
        justify-content: center;
        margin-left: 0;
    }

    .ty-nav-top li:first-child {
        margin-left: 0;
    }
}

.ty-schedule .cd-schedule__event a {
    padding: 8px 12px;
    font-size: 14px;
}

.ty-schedule .cd-schedule__event a:before {
    font-size: 12px;
    line-height: 1;
    margin-bottom: 0;
}

.download-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: -14px 0 32px;
}

.download-wrapper a {
    display: block;
    width: auto;
    max-width: 50%;
    margin: 0 32px 0 0;
}

.download-wrapper a:last-child {
    margin: 0;
}

.download-wrapper a img {
    margin: 0;
}


table.ty-table h1,
table.ty-table h2,
table.ty-table h3,
table.ty-table h4,
table.ty-table h5,
table.ty-table h6 {
  font-size: inherit;
  font-weight: inherit;
}

.file-upload {
    position: relative;
}

.image-path {
    position: absolute;
    top: 39px;
    left: 130px;
    pointer-events: none;
    background-color: white;
}

.image-path.path-en {
    left: 130px;
    width: calc(100% - 143px);
}

.image-path.path-nl {
    left: 160px;
    width: calc(100% - 163px);
}
